<!DOCTYPE html>

<html>
<head>
    <title>Mašinilica font - Inspirisano transparentom Mašinci protiv Mašinerije</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="HandheldFriendly" content="True" />
    <meta http-equiv="Content-Language" content="sr" />
    <meta name="description" content="Koristeći font inspirisan transparentom Mašinci protiv Mašinerije kreirajte svoje poruke i podelite ih na društvenim mrežama" />
    <link rel="icon" href="https://masinilica.com/images/m_icon.png" sizes="any" type="image/png" />

    <meta property="og:image" content="https://masinilica.com/images/share_image.png"/>
    

    <meta property="og:title" content="Mašinilica - Inspirisano transparentom Mašinci protiv Mašinerije"/>
    <meta property="og:description" content="Koristeći font inspirisan transparentom Mašinci protiv Mašinerije kreirajte svoje poruke i podelite ih na društvenim mrežama"/>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Mašinilica"/>
    <meta property="og:url" content="https://masinilica.com/" />

    <meta name="twitter:url" content="https://masinilica.com/"/>    
    <meta name="twitter:title" content="Mašinilica - Inspirisano transparentom Mašinci protiv Mašinerije"/>
    <meta name="twitter:image" content="https://masinilica.com/images/share_image.png"/>
    <meta name="twitter:site" content="@mileusna"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Koristeći font inspirisan transparentom Mašinci protiv Mašinerije kreirajte svoje poruke i podelite ih na društvenim mrežama" />

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

     <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        main {
            padding: 20px;
        }

        h1 {
            font-size: 1rem;
            text-align: center;
            margin: 5px 0 20px 0;
            font-weight: 500;
            color: #333333;
        }

        h1 span { white-space: nowrap; }
        h1 img { width: 250px; border: 0; }

        section { min-height: 700px; }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 0;
        }

        .button-container {
            margin-top: 10px;
            text-align: center;
        }

        form textarea {
            width: 100%;
            font-size: 1.4rem;
            padding: 8px;
            resize: vertical;
        }

        form textarea::placeholder {
            color: #888;
            font-style: italic;
            font-size: 1.1rem;
            line-height: 1.7rem;
        }

        form button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
        }

        img {
            width: 100%;
            height: auto;
        }

        div.img {
            margin-top: 20px;
            border: 1px solid silver;
            padding: 5px;
            border-radius: 5px;
        }

        .font-dl {
            text-align: center;
            padding: 0 30px;
            margin-top: 20px;
            font-size: 1rem;
            line-height: 1rem;
            color: #333333;
        }       
        .font-dl a {
            color: #333333;;
            text-decoration: underline;
        }

        .footer {
            text-align: center;
            margin-top: 25px;
            color: grey;
            font-size: 0.8rem;
            line-height: 1rem;
        }
        .footer a {
            color: grey;
            text-decoration: underline;
        }

        .dark-mode-container {margin-top: 15px; display: flex; justify-content: center;}

        .radio-btn {
            display: inline-block;
            font-size: 0.8rem;
            margin: 0 5px;
        }

        .radio-container {
            margin-top: 15px; display: flex; justify-content: center;
        }

        .radio-group {
            display: flex;
            gap: 3px;
            margin: 0 auto;
            font-family: sans-serif;
        }

        .radio-group input[type="radio"] {
            display: none; /* sakrij radio kružiće */
        }

        .radio-group label {
            font-size: 0.9rem;
            border-radius: 10px;
            background-color: #d9d9d9;
            padding: 6px 12px;
            cursor: pointer;
            user-select: none;
        }

        .radio-group input[type="radio"]:checked + label {
            background-color: #333333;
            color: white;
        }

        button {
            all: unset;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            user-select: none;

            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            font-size: 1.4rem;
            font-family: sans-serif;
            font-weight: 500;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: background-color 0.2s ease-in-out;
        }

        button:hover {
            background-color: #1a88ff;
        }

        button:active {
            background-color: #1a88ff;
        }

        .dl-box {text-align: center; padding: 12px 20px; margin-top: 5px; background-color: #d9d9d9; border-radius: 5px;}
        .dl-box button {font-size: 1rem;}

    </style>

</head>
<body x-data="app()">

    <main>
        <div class="container">
            <section>
                <h1>
                    <a href="/" title="masinilica.com"><img src="/images/masinilica.png" alt="Mašinci protiv Mašinerije font"/></a>
                    <br/>
                    Font insipirisan transparentom <span>"Mašinci protiv Mašinerije"</spam>
                </h1>
                <form @submit.prevent="generateImage" >
                    <textarea x-model="text" rows="7" spellcheck="false" placeholder="Unesi svoj tekst i vidi kako bi izgledao na transparentu Mašinaca protiv Mašinerije, podeli generisanu sliku sa svojim prijateljima ili na društvenim mrežama." required></textarea><br>

                    <div class="radio-container">
                        <div class="radio-group">
                            <input type="radio" id="small" name="font-size" value="small" x-model="fontSize">
                            <label for="small">Mala slova</label>

                            <input type="radio" id="normal" name="font-size" value="normal" x-model="fontSize">
                            <label for="normal">Normalna slova</label>

                            <input type="radio" id="large" name="font-size" value="large" x-model="fontSize">
                            <label for="large">Velika slova</label>
                        </div>
                    </div>

                    <div class="radio-container">
                        <div class="radio-group">
                                <input type="radio" id="left" name="align" value="left" x-model="align" />
                                <label for="left">Poravnaj levo</label>
                            
                                <input type="radio" id="center" name="align" value="center" x-model="align" />
                                <label for="center">Centriraj</label>
                            
                                <input type="radio" id="right" name="align" value="right" x-model="align" />
                                <label for="right">Poravnaj desno</label>
                            </label>
                        </div>
                    </div>             

                    <div class="dark-mode-container">
                        <div>
                        <input type="checkbox" id="dark-mode" name="dark" x-model="darkMode" />  <label for="dark-mode">Dark mod</label>    
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit">Generiši sliku</button>
                    </div>
                </form>

                <template x-if="imageUrl">                
                    <div>
                        <div class="img"><img :src="imageUrl" alt="Generisana slika" /></div>
                        <div class="dl-box">
                            <a :href="imageUrl + '&dl=1'"><button type="button">Preuzmi sliku</button></a>
                            <br/>
                            <p>Ukoliko vam gornje dugme za preuzimanje slike ne radi (zavisno od vašeg telefona i pregledača koji koristite), generisanu sliku možete snimiti ili deliti dalje sa svog telefona tako što pritisnete i držite prst na slici dok vam se ne otvori meni iz koga možete snimiti ili proslediti sliku.</p>
                            <p>Zbog načina na koji rade društvene mreže, obično je najbolje prvo snimiti sliku na telefon ili računar, pa je potom podeliti ručno.</p>

                            {{/* <p>Generisanu sliku možete podeliti i korišćenjem donjih linkova, ali rezultat možda neće biti onakak
                            <div>
                                <a :href="'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('https://masinilica.com'+imageUrl)" target="_blank"><img src="https://nstatic.net/img/social/social_facebook.png" alt="Share on Facebook" style="width: 30px; height: 30px;"></a>
                                <a :href="'viber://forward?text=' + encodeURIComponent('https://masinilica.com'+imageUrl)" target="_blank"><img src="/images/social_viber.png" alt="Share on Viber" style="width: 30px; height: 30px;"></a>
                                <a :href="'https://www.threads.net/intent/post?url=' + encodeURIComponent('https://masinilica.com'+imageUrl)" target="_blank"><img src="/images/social_threads.png" alt="Share on Threads" style="width: 32px; height: 32px;"></a>
                                <a :href="'https://twitter.com/intent/tweet?text=' + encodeURIComponent('https://masinilica.com'+imageUrl)" target="_blank"><img src="/images/social_x.png" alt="Share on X" style="width: 30px; height: 30px;"></a>
                            </div> */}}
                            
                        </div>
                    </div>
                </template>
            </section>

            <div class="font-dl">Ukoliko vam je potreban "mašinilica" font da biste ga koristili na vašem računaru, možete ga preuzeti <a href="https://drive.google.com/drive/u/0/folders/1NXIiZO58QESZEGfU1oVeR8rN43pQi65L" target="_blank">ovde</a>.</div>
            <div class="footer">
                <div>Inspirisan transparentom "Mašinci protiv mašinerije" font kreirao <a href="https://x.com/DavorinDinic" target="_blank">@DavorinDinic</a>. Inspirisan Davorinovim fontom web app kreirao <a href="https://x.com/mileusna" target="_blank">@mileusna</a>.</div>
                <br/>
                <div>Nismo mašinci ni autori transparenta "Mašinci protiv mašinerije" niti smo na bilo koji 
                način zaslužni za legendu koja ga prati. Ukoliko se "Mašinci protiv mašinerije" ne slažu sa načinom na koji koristimo njihovo delo, molimo ih da nam se jave.</div>
                <br/>
                <div>Privatnost korisnika: Sajt ne koristi kukije, tekstovi koje unosite se nigde ne beleže, generisane slike se nigde ne snimaju. Izvorni kod je <i>open source</i> i javno je dostupan na <a href="https://github.com/mileusna/masinilica" target="_blank">GitHub</a>.</div>
            </div>
        </div>
    </main>

    <script>
        function app() {
            return {
                text: '',
                imageUrl: '', 
                fontSize: 'normal',
                align: 'center',
                darkMode: false,
                generateImage() {
                    const encoded = encodeURIComponent(this.text.trim());
                    const fs = encodeURIComponent(this.fontSize.trim());
                    const al = encodeURIComponent(this.align.trim());
                    const dm = this.darkMode ? '1' : '0';
                    const timestamp = Date.now();
                    if (!encoded) return alert("Unesite tekst.");
                    this.imageUrl = `/masinilica.png?text=${encoded}&fs=${fs}&al=${al}&dm=${dm}&ts=${timestamp}`;
                }
            }
        }
    </script>    

</body>
</html>
